// Mixins in here


.button-layout(){
    color: white;
    background:@button-bg;
    height: 3.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
    font-size: 1.5rem;
     
}

