// Navigation Styles here

.navbar{
    // border: 1px solid red;
    display:flex;
    height: 8rem;
    border-bottom: 2px dashed @navigation-border;   
}

nav{
    // border: 1px solid green;
    margin-left: 300px;
    width: 350px;
    display:flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    color: black;

    
}

.logo{
    padding-left: 320px;
    display:flex;
    align-items: center;
}