// Navigation Styles here

.navbar{
    // border: 1px solid red;
    display:flex;
    height: 8rem;
    border-bottom: 2px dashed @navigation-border;   
}

.width{
    max-width: 800px;
    // margin: 0 auto;
    display:flex;
    justify-content: space-between;
    width: 100%;
}

nav{
    // border: 1px solid green;
    // width: 350px;
    display:flex;
    justify-content: space-around;
    align-items: center;

     a {
        font-size: 16px;
        text-decoration: none;
        color: black;
    
        
    }
}



.logo{
    // padding-left: 320px;
    display:flex;
    align-items: center;
}